@import "~bootstrap/scss/bootstrap";

h1 {
    color: red;
}

body {
    background-image: url("../img/bkg.jpg");
    background-repeat: repeat;
}

.container {
    width: 80vw;
    margin-inline: auto;

    .title {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
}
