@import "~bootstrap/scss/bootstrap";

body {
    background-image: url("../img/bkg.jpg");
    background-repeat: repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff;

    // Titolo
    .title {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    // Elementi dati
    .item {
        width: 100%;
    }

    .data-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;

        &.header {
            font-weight: bold;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #cccccc;
        }

        .element {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .medium {
            flex: 2;
        }

        .large {
            flex: 3.5;
        }

        .small {
            flex: 1.5;
            text-align: center;
        }
    }
}
